
* { margin: 0; padding: 0; box-sizing: border-box;}
html, body, app-root, app-home {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

app-home {
    background-color: #000;
    color: #fff;
}